@import "variables";

.title-big {
  font-family: $titre;
  font-size: 45px;
  color: $blue;
  text-align: center;
}

.title-small {
  font-family: $labeur;
  font-size: 20px;
  color: $grey;
  text-align: center;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: normal;
  display: block;
  margin-bottom: $L;
}

@media screen and (min-width: $mobile-s) and (max-width: $tablette) {
  .title-big {
    font-size: 30px;
  }

  .title-small {
    font-size: 15px;
  }
}