@import "../helpers/variables";

#GestesBarrieres {
    background-color: $smoke;
    padding: $L 0% $XL 0%;
    position: relative;

    .bacterie{
        position: absolute;
        left: 0%;
        bottom: 15%;
    }

    .conteneur{
        width: 70%;
    }

    h2 {
        text-align: left;
        margin-bottom: $S;
    }

    #labeur {
        font-family: $labeur;
        font-size: 20px;
        color: $grey;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.16;
        letter-spacing: normal;
        text-align: left;
        display: block;
        margin-bottom: $L;
    }

    a {
        padding: 1.5% 20px;
    }

    div article:last-child{
        margin-top: $M;
    }

    @media screen and (min-width: $mobile-s) and (max-width: $tablette) {
        div article:last-child{
            margin-top: 0%;
        }

        .mt-espace{
            margin-bottom: $XL;
        }
    }
}