@import "../helpers/variables.scss";

.conteneur {
    width: $conteneur;
    margin: auto;
    display: block;
}

.flex {
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}

.flex-center {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.col-2 {
    @extend .col-responsive;
    width: calc((100% - 3%) / 2);
    margin: auto 0%;
}

.col-3 {
    @extend .col-responsive;
    width: calc((100% - (#{$L} * 4)) / 3);
    margin: auto 0%;
}

.col-4 {
    @extend .col-responsive;
    width: calc((100% - 6%) / 4);
    margin: auto 0%;

    @media screen and (min-width: $tablette) and (max-width: $laptop) {
        width: calc((100% - (#{$L} * 2)) / 2);

        &:first-child,
        &:nth-child(2) {
            margin-bottom: $L;
        }
    }
}

.col-responsive {
    @media screen and (min-width: $mobile-s) and (max-width: $tablette) {
        width: 100%;
        margin: $XS 0%;

        &:first-child {
            margin-top: 0% !important;
        }

        &:last-child,
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            margin-bottom: 0% !important;
        }
    }
}