@import "../helpers/variables";

#home {
    background-image: url("../../images/corona-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $blue;
    padding: $XL;
    margin: 1%;
    border-radius: $radius-l;
    -webkit-border-radius: $radius-l;
    -moz-border-radius: $radius-l;
    -ms-border-radius: $radius-l;
    -o-border-radius: $radius-l;

    h1 {
        font-family: $titre;
        font-size: 60px;
        color: $white;
        text-align: center;
    }

    p {
        font-family: $labeur;
        font-size: 20px;
        color: $grey;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.16;
        letter-spacing: normal;
        text-align: center;
        margin-bottom: $L;
    }

    span {
        font-family: $labeur;
        color: $blue;
        display: block;
        margin: auto;
        text-align: center;
        font-size: 20px;

        b {
            font-size: 45px;
        }
    }

    section {
        position: relative;
        overflow: hidden;
        background-color: $white;
        padding: $M;
        box-shadow: $shadow;
        border-radius: $radius-xl;
        -webkit-border-radius: $radius-l;
        -moz-border-radius: $radius-l;
        -ms-border-radius: $radius-l;
        -o-border-radius: $radius-l;

        img:first-child {
            position: absolute;
            bottom: -26%;
            right: -4%;
        }

        img:last-child {
            position: absolute;
            bottom: -26%;
            left: -4%;
        }

        #nbConfirmed {
            color: $blue;
        }

        #nbRecovered {
            color: $green;
        }

        #nbDeaths {
            color: $red;
        }

        @-webkit-keyframes rotating {
            from {
                -webkit-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            to {
                -webkit-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @keyframes rotating {
            from {
                -ms-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            to {
                -ms-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        .rotating {
            -webkit-animation: rotating 30s linear infinite;
            -moz-animation: rotating 30s linear infinite;
            -ms-animation: rotating 30s linear infinite;
            -o-animation: rotating 30s linear infinite;
            animation: rotating 30s linear infinite;
        }
    }

    @media screen and (min-width: $mobile-l) and (max-width: $laptop) {
        #home {
            padding: 10% !important;
        }
    }
}