@import "../helpers/variables";

.me-proteger {
  padding: $XL * 2;

  &__wrapper {
    padding: $L 0;
  }

  &__title {
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    color: $blue;

    &--green {
      color: $green;
    }

    &--red {
      color: $red;
    }
  }
}