@import "../helpers/variables";

.navbar {
  background-color: $white;
  box-shadow: $shadow;
  padding: 5px 60px;
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;

  @media all and (max-width: $tablette) {
    padding: 5px 30px;
  }

  & ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    & li {
      padding: 15px 0;

      & i {
        font-size: 23px;
      }
    }

  }

  &__logo {
    flex: 1;
  }

  &__item {
    width: auto;
    margin: 0 16px;
    text-align: center;
    order: 3;

    @media all and (max-width: $laptop) {
      margin: 0 10px;
    }

    @media all and (max-width: $tablette) {
      width: 100%;
      display: none;
    }

    &.show {
      display: block;
    }

    & .cta-filled-blue {
      padding: 5px 10px;
      display: block;

      @media all and (max-width: $laptop) {
        display: inline;
      }
    }
  }

  &__bars {
    display: none;
    cursor: pointer;

    @media all and (max-width: $tablette) {
      display: block;
    }
  }

  &__bars.show svg:before {
    content: '\f00d';
  }

}