@import "../helpers/variables";

.navbar {
  background-color: $white;
  box-shadow: $shadow;
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;

  &__logo {

  }

  &__content {

    display: flex;

    & .cta-filled-blue {
      display: inline-block;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: $blue;
  }

}