@import "../helpers/variables";

#soignants {
    position: relative;
    background-color: $blue;
    padding: $XL;

    h2 {
        font-family: $titre;
        font-size: 50px;
        color: $white;
        text-align: left;
        margin-bottom: $S;
    }

    p {
        font-family: $labeur;
        font-size: 20px;
        color: $grey;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.16;
        letter-spacing: normal;
        text-align: left;
        display: block;
        margin-bottom: $L;
    }

    a {
        padding: 1.5% 20px;
    }

    @media screen and (min-width: $mobile-s) and (max-width: $tablette) {
        img {
            width: 70% !important;
            margin: auto;
            display: block;
        }

        h2,
        p {
            text-align: center;
        }

        a {
            margin: auto;
            display: block;
            width: max-content;
        }
    }
}