@import "../helpers/variables";

#soignants{
    position: relative;
    background-color: $blue;
    padding: $L;

    h2{
        font-family: $titre;
        font-size: 50px;
        color: $white;
        text-align: left;
        margin-bottom: $S;
    }

    p{
        font-family: $labeur;
        font-size: 20px;
        color: $grey;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.16;
        letter-spacing: normal;
        text-align: left;
        display: block;
        margin-bottom: $L;
    }
}
